.about{
  font-family: $ff-roboto;
  width: 50%;
  margin: 50px auto 100px;
  @media(max-width: 1200px) {width: 70%; }
  @media(max-width: 768px) {width: 95%; }
  &__main{
    position: relative;
   

    &--project{
      padding: 0 3vw;
      animation: about-animate 1s forwards;
      opacity: 0;
      h1{
        text-align: justify;
        margin: 0 0 50px 0;
        @media(max-width: 768px){ text-align: center;}
      }
      p{
        line-height: 25px;
        text-align: left;
        margin: 10px 0;
      }
      
      &::after{
        content: '';
        display: block;
        width: 25px; height: 5px;
        margin: 50px 0 50px 15px;
        @media(max-width: 768px){ margin: 50px auto; }
        background: rgb(126, 184, 136);
        border: 0; border-radius: 3px;
      }
    
    }

    &--expression{
      opacity: 0;
      padding: 0 3vw;
      animation: about-animate 1s forwards 175ms;
      p{
        line-height: 35px;
        text-align: left;
        margin: 10px 0;
      }
    }

    &--links{
      opacity: 0;
      animation: about-animate 1s forwards 250ms;
      margin: 50px 0;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 1fr;

      .git-container, .linked-container{

        width: auto; 
        height: auto;

        display: grid;
        justify-items: center;

        a{
          width: 100%; height: 100%;
          display: grid;
          justify-items: center;
          text-decoration: none;
          position: relative;

        
        }
        a i{
          color: black;
          font-size: 2.25em;
          transition: color 600ms ease;
          display: block;
        }
        
        
        &:hover{
          a i{
            color: rgb(110, 110, 110);
            transition: color 600ms ease;
          }
        }
       
       
      }
    }


    &--footer{
      width: 100%;
      position: fixed;
      bottom: 0; left: 50%; transform: translateX(-50%);
      text-align: center;
      font-size: 11px;
      color: rgb(39, 39, 39);
      background: rgb(231, 231, 231);
      box-shadow: 0px -5px 5px -3px rgba(0, 0, 0, 0.37);
      @media(max-width: 900px){
        font-size: 10px;
      }
    }
  }

}




@keyframes about-animate{
  0%{
    transform: translateX(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}