.alert{
  transition: all 250ms ease;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 50px;
  border: 0px solid black;
  border-radius: 5px;
  background: rgb(255, 0, 0);
  text-align: center;
  animation: alert-animation 2500ms forwards;
  &-danger{
    color: white;
    transition: all 250ms ease;
  }

  @keyframes alert-animation{
    0%{
      opacity: 0;
    }
    25%{
      opacity: 1;
    }
    75%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
}