.auth{
  background: grey;
  &__sign-form{
    display: grid;
    justify-content: center;
    
    h2{
      text-align: center;
    }

    .input-field{
      margin: 0 auto;
      padding: 5px 0;
      label{ 
        display: block;
      }
      input{
       display: block;
      }
      .btn-sign{
        display: block;
        margin: 0 auto;
      }
    }
  }
}