.dashboard{
  margin-top: 50px;
  margin-bottom: 50px;

  &-carrousel{
    overflow: hidden;
    object-fit: cover;
    max-height: 30vh;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 100px;
    li{
      div{
        height: 100%;
      }
      height: 30vh;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-headBar{
    display: flex; align-items: flex-start;
    width: 85%; height: 100%; 
    margin: 0 auto 20px;
    border: 0; border-top-right-radius: 2px; border-top-left-radius: 2px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);

    div{
      margin: 0 auto;
      font-size: 1.8vw;
      font-family: $ff-roboto; font-weight: 600;
      @media(max-width: 768px){ 
        font-size: 20px; 
      }
      text-align: center;
      line-height: 100px;
      i, span{
        color: rgb(236, 236, 236);
        text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
      }
    }

  }
  
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 25px;
    @media(max-width: 670px){
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 5px;
    }
    &::before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    & > div {
      position: relative;
      border: 0;
      border-radius: 2px;
      position: relative;
      background: rgb(233, 233, 233);
      box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
      overflow: hidden;

      .game-difficulty{
        display: grid;
        grid-template-columns: 40px 40px;
        justify-content: space-between;
        align-items: flex-end;
        transition: transform 250ms ease, opacity 1250ms ease;
        transform: translateY(350px); opacity: 0;
        width: 100%; 
        height: 200px;
        position: absolute; bottom: 0; 
        color: red;
        font-weight: 700;
        &__wisdom, &__dexterity{
          width: 40px; height: auto;
          text-align: center;
          img{
            margin-top: 10px;
            width: 100%; height: 100%;
            object-fit: cover;
            filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
            &.lightenSvg{
              fill: white;
            }
          }
          i{
            display: block;
            font-size: 1.25rem;
            color: yellow;
            text-shadow: 1px 1px #000;
          }
        }
        // &__dexterity{
        //   width: 50px;

        // }
      }

      &:hover{
        border: 0;
        outline-width: 1px;
        outline-color: rgba(141, 141, 141, 0.493);
        outline-offset: -4px;
        outline-style: solid;
        filter: brightness(1.025);

        .game-difficulty{
          transition: transform 250ms ease, opacity 1250ms ease-out;
          opacity: 1;
          transform: translateY(0px);
        }
      }
   
    }

    &-link{
      width: 100%;
      height: 100%;
      display: block;
    }
    .dashboard-actor-game-cover{
      background: url("../media/games/actor-quiz-cover.jpg");
      background-size: cover;
    }
    .dashboard-snake-cover{
      // border: 1px solid rgb(223, 223, 223);
      background: url("../media/games/snake-cover.jpg");
      background-size: cover;
    }
    .dashboard-reveal-cards-cover{
      background: url("../media/games/reveal-cards-cover.jpg");
      background-size: cover;
    }
    .dashboard-buy-game-cover{
      background: url("../media/games/buyGame.jpg");
      background-size: cover;
    }
  }
  .grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
 
}

