.forum-content-wrapper{
  position: relative;
  width: 70%; height: auto;
  margin: 50px auto;
  font-family: $ff-roboto;
  @media(max-width: 768px) {width: 95%; }

  .forum-content-thread{
    border: 1px solid black;
    background: rgba(255, 255, 255, 0);
    position: relative;

    .content-article-subject{
      text-align: center;
      margin: 25px 0;
    }
    .content-article-main{
      padding: 10px;
      margin-right: 40px;
    }
    .content-article-edit{
      position: absolute;
      top: 50%; right: 5px;  transform: translateY(-50%);
      border: 1px solid black;
      width: 28px; height: 28px;
      i{ color: black; display: block; width: 100%; line-height: 28px; font-size: 1.25rem; }
      &:hover{
        cursor: pointer;
        background: white;
        border: 1px solid black;
        i{
          color: black;
        }
      }
    }
    .btns-edit{
      width: 150px;
      margin: 5px auto 0;
      display: none;
      &>button{
        background: white;
        color: black;
        border: 1px solid black;
        padding: 5px;
      }
      &>button:hover{
        cursor: pointer;
        background: black;
        color: white;
        border: 1px solid white; 
      }
    }
    .btn-edit-confirm i{
      color: green;
    }
    .btn-edit-cancel{
      margin-left: 2px;
      i{ color: red; }
    }

    .content-article-author{
      margin: 10px auto 10px 10px;
    }
  }

  .forum-content-comment{
    margin-top: 50px;
    span{
      display: block;
    }
    textarea{
      width: 50%;
      @media(max-width: 768px){ width: 100%; }
    }

    .comment-submit{
      display: block;
      padding: 6px 20px;
      border: 1px solid grey;
      font-size: 1.05rem;
      &:hover{
        cursor: pointer;
        border: 1px solid black;
      }
    }
  }

  .forum-content-comments{
    h2{
      margin: 35px 0 20px;
    }

    .comment{
      &-animation{
        opacity: 0;
        transform: translateX(-10%);
        animation: comm-animation 500ms forwards;
        @keyframes comm-animation{
          0%{
            opacity: 0;
            transform: translateX(-10%);
          }
          100%{
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      position: relative;
      display: grid; grid-template-columns: 100px auto;
      width: 100%;
      height: auto;
      background: rgb(233, 233, 233);
      border: 1px solid grey;
      margin: 10px 0;
      a{
        transition: background-color ease 250ms;
        border-right: 1px dashed grey;
        text-decoration: none;
        &:hover{
          transition: background-color 250ms ease;
          background: rgba(0, 0, 0, 0.747);
          .comment-author{
            transition: color 250ms ease;
            color: white;
          }
          .comment-image img{
            transition: border 250ms ease;
            border: 1px solid white;
          }
        }
      }
      &-image{
        width: 80px; height: 80px;
        display: block; margin: 5px auto;
        img{
          transition: border 250ms ease-out;
          border: 1px solid black; border-radius: 50%;
          width: 100%; height: 100%; object-fit: cover;
        }
      }
      &-author{
        transition: color 250ms ease-out;
        padding: 5px 0;
        font-weight: 700;
        text-align: center;
        color: black;
      }

      button{
        position: absolute;
        right: 2px;
        border: 0;
        width: 28px; height: 28px;
        i{ color: white; display: block; width: 100%; line-height: 28px; font-size: 1.25rem; }
        &:hover{
          cursor: pointer;
          background: white;
          border: 1px solid black;
          i{
            color: black;
          }
        }
      }
      .delete-button{
        top: 20%;
        background: red;
      }
      .edit-button{
        bottom: 20%;
        background: green;
      }

      &-container{
        display: grid; grid-template-rows: 1fr auto;
        &__content{
          p{
            padding: 5px 35px 5px 5px;
          }
        }

        &__date-posted{
          justify-self: end;
        }
      }
    }

  


  }
}
