// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$ff-roboto: 'Roboto', sans-serif;

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;padding: 0;
}

html{
  overflow-y: scroll;
}
html{
  height: 100%;
}
body{
  height: 100%;
  position: relative;
}
.container{
  width: 70%;
  margin: 0 auto;
  @media(max-width: 868px){
    width: 85%;
  }
  @media(max-width: 768px){
    width: 95%;
  }
}

.mt-2{
  margin-top: 20px;
}
.mt-5{
  margin-top: 50px;
}
.mb-5{
  margin-bottom: 50px;
}
