// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Boogaloo&display=swap');
$ff-roboto: 'Roboto', sans-serif;
$ff-boogaloo: 'Boogaloo', cursive;

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;padding: 0;
}

html{
  overflow-y: scroll;
  height: 100%;
}

body{
  height: 100%;
  position: relative;
  // background: url('./media/beige-tiles.png');
  
  background: rgba(255, 255, 255, 0.7);
  // overflow: hidden;

  &::before{
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    background: url('./media/beige-tiles.png') repeat;
  }
}
.container{
  width: 70%;
  margin: 0 auto;
  @media(max-width: 868px){
    width: 85%;
  }
  @media(max-width: 768px){
    width: 95%;
  }
}

.mt-2{
  margin-top: 20px;
}
.mt-5{
  margin-top: 50px;
}
.mb-5{
  margin-bottom: 50px;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  img{
    width: 100px;
  }
}
.loader-placeholder{
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  
}