.leaderboard{
  &__title{
    text-align: center;
    margin: 20px 0;
  }
  &__img{
    max-width: 200px; height: 100%;  
    margin: 0 auto;
    display: block;
    img{
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }
  &__search{
    margin: 20px auto;
    display: block;
  }
  .leaderboard-ul{
    width: 100%;
    margin: 0 auto;
    &__li{
      list-style: none;
      &:nth-child(odd){
        background: #e0e0e0;
      }
    }
  }

}