.leaderboard{
  transform: translateY(50px);
  opacity: 0;

  width: 50%;
  margin: 50px auto 50px;
  @media(max-width: 1200px) {width: 70%; }
  @media(max-width: 768px) {width: 95%; }
  &__title{
    letter-spacing: 7px;
    text-align: center;
    margin: 20px 0;
    font-family: $ff-boogaloo;
  }
  &__img{
    max-width: 200px; height: 100%;
    margin: 0 auto 20px;
    display: block;
    img{
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }
 
  .leaderboard-ul{
    width: 100%;
    margin: 0 auto;

    .pagination{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .page-item{
        list-style: none;
        border: 0px solid black;
        border-radius: 20%;
        overflow: hidden;
        background: rgb(126, 184, 136);
        width: 30px; height: 30px;
        margin: 5px 3px;
        transition: background-color 250ms ease;
        box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);

        .page-link{
          border: 0; background: none; outline: 0;
          text-align: center;
          color: white;
          text-decoration: none;
          display: block;
          width: 100%; height: 100%;
          display: grid;
          align-items: center; justify-items: center;
          &:hover{
            cursor: pointer;
          }
        }
        &:hover{
          background: #eedc88;
        }
        &.active{
          background: #eedc88;
          transition: background-color 250ms ease;
        }
        
      }
    }
   

    &__li{
      padding: 6px 0;
      display: grid;
      align-items: center;
      grid-template-columns: minmax(auto, 100px) minmax(auto, 140px) auto 20px;
      list-style: none;

      span{
        margin-left: 3px;
        a{
          color: black;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      
      &:nth-child(odd){
        background: rgba(184, 216, 250, 0.658);
      }
      &:nth-child(even){
        background: rgba(255, 255, 255, 1);
      }
      span:nth-child(3){
        font-size: 0.95rem;
      }
      .no-quote > *:hover{
        color: rgb(255, 255, 255);
      }
      .delete-quote{
        display: grid;
        justify-items: center;
        align-items: center;
        height: 100%;
        color: red;
        position: relative;
        &::after{
          content:'Delete quote';
          font-size: 0.85em;
          border: 0;
          border-radius: 2px;
          display: none;
          align-items: center;
          text-align: center;
          position: absolute;
          top: -40px; left: -70px;
          background: rgb(255, 0, 0);
          color: white;
          width: 90px; 
          height: 30px;
        }
        &::before{
          content: '';
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid rgb(255, 0, 0); 
          display: none;
          position: absolute;
          top: -10px; left: 9px; transform: translateX(-50%);
          width: 0px;
          height: 0px;
        }

        &:hover{
          cursor: pointer;
          &::after,
          &::before{
            display: grid;
          }
        }
      }

      // hide Quote tab on mobiles
      @media(max-width: 505px){
        padding: 10px 0;
        grid-template-columns: 1fr 1fr;
        span:nth-child(3){
          display: none;
        }
        .delete-quote{
          display: none;
        }
      }
    }
    .sticky-li{
      position: sticky;
      top: 0;
      background: #eedc88;
      box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.75);
      margin-bottom: 3px;
    }
    .selected{
      background: rgb(146, 243, 0);
      color: black;
      font-weight: bold;
    }
  }

}

.test-animation{
  animation: anim 1s forwards;
}
@keyframes anim{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}