.navigation-bar{
  height: 50px;
  width: 100%;
  background: rgb(126, 184, 136);

  &__ul{
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-template-areas: "logo leaderboard about . profile logout";

    li{
      text-align: center;
      height: 50px;
      line-height: 50px;
      list-style: none;
      width: auto;
      &:hover{
        background: rgb(102, 146, 110);
      }
      
      a{
        padding: 0 10px;
        display: block;
      }

      &>*{
        font-family: $ff-roboto;
        font-size: 1.05rem;
        color: black;
        text-decoration: none;
      }
    }

    .nav-logo{
      grid-area: logo;
      height: 50px;
      a{
        display: grid;
        height: 50px;
        align-content: center;
        .logo-img{
          width: 100px;
          height: 50px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
    .nav-about{
      grid-area: leaderboard;
    }
    .nav-leaderboard{
      grid-area: about;
    }
    .nav-logout, .nav-register{
      grid-area: profile;
    }
    .nav-profile, .nav-login{
      grid-area: logout;
    }
    .nav-profile i{
      font-size: 1.25em;
    }

     
    
   

  }
}