.profile{
  width: 50%;
  @media(max-width: 1200px) {width: 70%; }
  @media(max-width: 768px) {width: 95%; }
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  

  &__top{
    transform: translateX(50px);
    opacity:0;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: auto;
    box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
    
    position: relative;

    &::before{
      content: '';
      display: block;
      height: 5px;
      width: 95%;
      background: rgb(91, 112, 134);
      position: absolute;
      top: -3px; left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &--score{
      grid-column: 1 / 2;
      display: grid;
      grid-template-rows: 3fr 7fr;

      .score-title{
        background:rgb(140, 180, 223);
        display: grid;
        align-content: center;
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        border-right: 1px solid rgb(184, 216, 250);
      }
      .score-points{
        background: rgb(184, 216, 250);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-auto-rows: 100%;
        align-items: center;
        justify-items: center;

        .cup{
          height: 65%;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
        .points{
          font-size: 10vw;
        }
      }
    }

    &--image{
      grid-column: 2 / 3;
      display: grid;
     
      grid-template-rows: 3fr 7fr;

      .user-name{
        background: rgb(140, 180, 223);
        display: grid;
        text-align: center;
        align-content: center;
        span{
          font-family: $ff-roboto;
          font-size: 1.6em;
        }
      }
      .img-holder{
        width: 100%;
        height: 100%;
        img{
          
          width: 100%; height: 100%;
          object-fit: cover;
        }
        .image-placeholder{
          background: black;
        }
        .hide-plcaholder{
          background: unset;
        }
      }
    }

    @media(max-width: 768px){
      grid-template-columns: 1fr;
      &--score{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      &--image{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-bottom: 25px;
        box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
      }
      .img-holder{
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  } // top end



  &__bottom{
    transform: translateX(-50px);
    opacity:0;
    
    margin-top: 50px;
    margin-bottom: 50px;
    &--item{
      margin: 10px 0;
      display: grid;
      grid-template-columns: 100px auto 50%;
      grid-auto-rows: minmax(100px, 1fr);
      font-family: $ff-roboto;

      .item-img{
        margin-right: 5px;
        background: white;
        border: 1px solid black;
        box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
        img{
          width: 100%; height: 100%;
          object-fit: cover;
        }
      }
      .item-name{
        margin: 0 5px;
        display: grid;
        align-items: center;
        justify-items: center;
        background: rgb(106, 177, 0);
        box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
        span{
          font-size: 1.6em;
        }
      }
      .item-score{
        margin-left: 5px;
        display: grid;
        align-items: center;
        text-align: left;
        background: greenyellow;
        box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
        span{
          font-size: 1.4em;
          margin-left: 15px;
        }
      
      }

    }

    @media(max-width: 768px){
      .item-name span{
        font-size: 3.15vw;
      }
    }
  }



  &__quote{
    transform: translateY(50px);
    opacity: 0;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 3px;
    box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
    background: rgb(184, 216, 250);

    &::before{
      content: '';
      display: block;
      height: 5px;
      width: 95%;
      background: rgb(91, 112, 134);
      position: absolute;
      top: -3px; left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    h2{
      letter-spacing: 1px;
      font-family: $ff-roboto;
      text-align: center;
      padding: 15px 0;
      background: #8cb4df;
    }

    &--buttons{
      display: grid;
      padding: 15px 0;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid #8cb4df;
      
      .button{
        border: 0;
        border-radius: 2px;
        background: white;
        height: 50px;
        width: 150px;
        box-shadow: 0px 4px 4px -3px rgba(128, 128, 128, 0.75);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: all ease 250ms;
        i{
          display: block;
        }
        &:hover{
          transition: all ease 250ms;
          cursor: pointer;
          background: rgb(240, 240, 240);
          box-shadow: 0px 1px 4px -3px rgba(128, 128, 128, 0.75);
        }
      
      }
      .button{
        font-weight: 900;
        font-size: 0.8rem;
      }
      .button-random-quote{
        justify-self: self-end;
        margin-right: 5px;
        color: #8cb4df;
        i { color: #8cb4df; }
      }
      .button-update-quote{
        justify-self: self-start;
        margin-left: 5px;
        color: rgb(81, 134, 0);
        i { color: rgb(81, 134, 0); }
      }
      .button i{
        font-size: 1.6em;
      }
      
    }

    &--text{
      text-align: center;
      min-height: 200px;
      padding: 0 25px;
      display: grid;
      align-content: center;
      .quote{
        font-size: 1.3em;
      }
      .quote strong{
        font-size: 1.25em;
      }
    }
  }



  .profile-top-animation{
    animation: top-anim 1s forwards;
  }
  .profile-bot-animation{
    animation: bot-anim 1s forwards;
  }
  .profile-quote-animation{
    animation: quote-anim 1s forwards;
  }

  @keyframes top-anim{
    0%{
      transform: translateX(50px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes bot-anim{
    0%{
      transform: translateX(-50px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes quote-anim{
    0%{
      transform: translateY(50px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }

}

