@import url('https://fonts.googleapis.com/css?family=Geostar|Roboto+Condensed&display=swap');
$ff-geostar: 'Geostar', cursive;
$ff-roboto: 'Roboto Condensed', sans-serif;


*, *::before, *::after{
  box-sizing: border-box;
  padding: 0; margin: 0;
}

.actor-game{
  background: url('./media/games/actor-game-bg.jpg');
  position: relative;
  background-size: cover;
  min-height: calc(100vh - 50px);
  opacity: 0;
}


// .welcome-text{ display: none; }

.fill-background-top{
  
  // transform: translateY(-200px);
  transition: 500ms ease transform;
  text-align: center;
  width: 100%;
  height: 200px;
  background: whitesmoke;
  background-position: center top;
  background-size: cover;
  position: relative;
  opacity: 1;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 15px;

  .welcome-text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    transition: 500ms all ease-in-out;
    font-family: $ff-roboto;
    font-size: 1.15em;
  }
  .user-logged-score,
  .user-not-logged-score{
    font-family: $ff-roboto;
    font-size: 0.9rem;
    position: absolute;
    top: 10%; left: 50%;
    transform: translateX(-50%);
    color: black;

  }
}

.content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px;
  
  .random-block{
    background: white;
    overflow: hidden;
  }
  .person-block,
  .random-block{
    overflow: hidden;
    perspective: 800px; 
    display: inline-block;
    opacity: 0;
    animation: personAnimate 2500ms forwards;
    &_img{
      

      transition: 250ms all ease-out; 
      position: relative;
      transform-style: preserve-3d;
      transform: rotateX(0) rotateY(0deg) rotateZ(0);
      height: 200px;
      width: 200px;
      display: block;
      margin: 0 auto;
    

      &::before{
        content:'';
        background: black;
        position: absolute; top: 0; left: 0;
        height: 200px;
        width: 20px;
        transform: rotateY(90deg) translateZ(-10px) translateX(10px);
      }
     

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     
      }
      .front{
        position: absolute; 
        backface-visibility: visible;
      }
      .back{
        opacity: 0;
        position: absolute; 
        backface-visibility: visible;
        transform: rotateY(180deg) translateZ(20px);
      }
     
      
      &:hover{
        transform: scale(1.20);
        transition: 175ms all ease-out;
      }
    }

    p{
      text-align: center;
    }

    &:hover{
      cursor: pointer;
    }
  }
  
}

/* add hover on level init */
.textHover:hover{
  cursor: pointer;
}
.test-text{
  background: rgb(63, 178, 255);
  line-height: 40px;
  width: 100%;
  height: 100%;
  color: black;
  transition: all 150ms ease;
  &:hover{
    transition: all 150ms ease;
    background: rgb(24, 216, 24);
    cursor: pointer;
  }
}
.answers{
  display: none;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  & > .answer{
    transform: translateX(-200px);
    opacity: 0;
    transition: all 250ms ease;

    display: block;
    margin-bottom: 10px;
    width: 30%; min-width: 300px;
    height: 40px;
    border: 0;  border-radius: 2px;
    color: black;
    font-size: 18px;
    font-family: verdana;
    box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.75);

    
  }
}

.tip{
  display: none;
  text-align: center;
  font-size: 18px;
  font-family: verdana;
  border: 0;  border-radius: 2px;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 30%; min-width: 300px;
  line-height: 40px;
  background: rgb(188, 228, 14);
  box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.75);
}

.progress_bar{
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 0.3%;
  height: 320px;
  width: 30px;
  transform: translateY(-50%) translateX(-30px);
  transform-origin: bottom center;  // !
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  span{
    font-family: $ff-geostar;
    font-size: 1.5rem;
    color: black;
  }
  &>div{
    background: white;
    display: grid;
    align-items: center;
    
    text-align: center;
    width: 100%;
    border: 1px solid rgb(158, 158, 158);
    cursor: default;
    transition: all 250ms ease;
  }
 
  &>div:nth-child(1){
    border-bottom: 0;
    border-top-right-radius: 3px;
  }
  &>div:nth-child(2){
    border-bottom: 0;
  }
  &>div:nth-child(4){
    border-top: 0;
    border-bottom-right-radius: 3px;
  }
}

.game-over{
  text-align: center;
  width: 450px;
  height: 200px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: #d4d4d4;
  display: none;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 10px 13px -5px rgba(0,0,0,0.75);
  p{
    text-transform: uppercase;
    padding: 15px 0;
    line-height: 50px;
    font-size: 1.4rem;
    #game-over-points{
      line-height: 50px;
    }
  }
  #restart{
    margin: 0 auto;
    border: 0px;
    width: 60px;
    height: 30px;
    background: red;
    &:hover{
      cursor: pointer;
    }
  }
  .hidden{
    visibility: hidden;
  }
}

